<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{fragments/mainMenu}" ></div><hr>
    <p>Categories: </p>
    <ul>
        <li th:each="category : ${db}" >
            <span th:text="${category.getName()}" ></span>
            <a th:href="'/removeCategory?categoryId=' + ${category.getId()}" >[remove]</a>
            <a th:href="'/editCategory?categoryId=' + ${category.getId()}" >[edit]</a>
        </li>
    </ul><hr>
    <div th:replace="~{fragments/addCategoryForm}" ></div>
</body>
</html>